@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

.nunito {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.ui-tabs-active > a {
    background: #36C7B6;
    color: white;
    border-radius: 32px;
}